<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AbonnementManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="~/AbonnementManager.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            @if (User.Identity.IsAuthenticated)
            {
                
            
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Abonnement Manager</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link align-middle px-0 text-white">
                                <i class="bi bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            
                        
                        <li class="nav-item">
                            <a asp-area=""  asp-controller="Client" asp-action="Index" class="nav-link align-middle px-0 text-white">
                                <i class="bi bi-person"></i><span class="ms-1 d-none d-sm-inline">Client</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Application" asp-action="Index" class="nav-link align-middle px-0 text-white">
                                <i class="bi bi-file-earmark-check"></i><span class="ms-1 d-none d-sm-inline">Application</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Abonnement" asp-action="Index" class="nav-link align-middle px-0 text-white">
                                <i class="bi bi-file-earmark-person"></i><span class="ms-1 d-none d-sm-inline">Abonnement</span>
                            </a>
							</li>
						}
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link align-middle px-0 text-white">
                                <i class="bi bi-shield-check"></i><span class="ms-1 d-none d-sm-inline">Privacy</span>
                            </a>
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial" />
                    <hr>

                </div>
            </div>

            }
            <div class="col py-3">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class=" footer bg-dark text-muted">
        <div class="container text-center ">
            &copy; 2024 - AbonnementManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/kyot29d4pp7kseq1ps9j9zeumn4vvoredpoq5q4kxsr9501i/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
