@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                At Abonnement Manager, we are committed to protecting the privacy and security of our website visitors and users. This Privacy Policy outlines how we collect, use, and protect your personal data when you visit our website.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>What Information Do We Collect?</h2>
            <p>
                We collect the following types of information when you visit our website:
                <ul class="list-group">
                    <li class="list-group-item">Personal data: This includes your name, email address, and any other information you provide to us through our contact forms or other means.</li>
                    <li class="list-group-item">Usage data: This includes information about how you use our website, such as the pages you visit, the time you spend on our site, and the resources you access.</li>
                    <li class="list-group-item">Technical data: This includes information about your device, browser, and operating system.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>How Do We Use Your Information?</h2>
            <p>
                We use the information we collect to:
                <ul class="list-group">
                    <li class="list-group-item">Provide and improve our services: We use your information to provide you with the best possible experience on our website and to improve our services.</li>
                    <li class="list-group-item">Communicate with you: We use your contact information to respond to your inquiries and to send you information about our services.</li>
                    <li class="list-group-item">Protect our website and users: We use technical data to monitor and protect our website from security threats.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>How Do We Protect Your Information?</h2>
            <p>
                We take the security of your information seriously and have implemented the following measures to protect it:
                <ul class="list-group">
                    <li class="list-group-item">Encryption: We use encryption to protect your data both in transit and at rest.</li>
                    <li class="list-group-item">Access controls: We limit access to your information to authorized personnel only.</li>
                    <li class="list-group-item">Regular security audits: We regularly review and update our security measures to ensure they are effective.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Your Rights</h2>
            <p>
                You have the following rights regarding your personal data:
                <ul class="list-group">
                    <li class="list-group-item">The right to access: You have the right to request a copy of the information we hold about you.</li>
                    <li class="list-group-item">The right to rectification: You have the right to request that we correct any inaccuracies in the information we hold about you.</li>
                    <li class="list-group-item">The right to erasure: You have the right to request that we delete the information we hold about you.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Changes to This Policy</h2>
            <p>
                We may update this Privacy Policy from time to time. If we make any significant changes, we will notify you by posting a notice on our website.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Contact Us</h2>
            <p>
                If you have any questions or concerns about this Privacy Policy or our use of your information, please contact us at [Your Contact Email].
            </p>
        </div>
    </div>
</div>